.jumbotron {
    margin: 0;
    border-radius: 0;
    padding: 4rem;
    background-color: #372c2e;
    color: white;
}

h1, h2, h3 {
    font-family: cursive;
}

h2{
    color:#372c2e;
    font-weight: bold;
    padding: 1rem 0;
}

.row-content {
    padding: 50px 0;
    min-height: 200px;
}

.navbar {
    background-color:#372c2e;
}

.navbar-nav > li{
    margin-right:3rem;
  }

footer{
    background-color: #f3ece6;
}

.carousel-caption {
    position: absolute;
    top: 2rem;
    bottom: auto;
    background-color: #493029aa;
}

/* .carousel-indicators {
    color: #372c2e7c;
} */

#contactForm {
    padding: 20px 0;
}