body {
    color: #ededed;
    background-color: #015f77;
}

#index-image{
    width: 100%;
    position: relative;
}
h1, h2 {
    font-family: cursive;
    font-weight: bold;
    padding: 3rem 0;
    letter-spacing: 0.15rem;
}

h3{
    font-family: cursive;
    font-weight: semibold;
    letter-spacing: 0.05rem;
}

.row-content {
    padding: 50px 0;
    min-height: 200px;
}

.navbar {
    background-color: #015165c0;
}

.navbar-nav > li{
    margin-right:3rem;
}

.nav-item{
    text-align: right;
}

.nav-item.active{
    border-bottom: 2px solid #fabb00;
}

.navbar-toggler{
    padding: 2rem;
    border: 0;
}

footer{
    background-color: #fabb00;
    color: black;
    font-weight: 300;
    letter-spacing: 0.04rem;
}

.carousel-caption {
    position: absolute;
    top: 2rem;
    bottom: auto;
    background-color: #00485ad7;
}

#contactForm {
    padding: 20px 0;
}

/* #contact-submit{
    background-color: orange;
    border-color: orange;
    color: rgb(27, 27, 27);
}

#contact-submit:hover{
    background-color: rgb(191, 124, 0);
    border-color: rgb(191, 124, 0);
    color: rgb(27, 27, 27);
}

#contact-submit:click{
    background-color: rgb(191, 124, 0);
    border-color: rgb(191, 124, 0);
    color: rgb(27, 27, 27);
} */
.carousel-control-prev-icon { 
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23015f77' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); 
    width: 30px;
    height: 48px;
}
.carousel-control-next-icon { 
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23015f77' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    width: 30px;
    height: 48px;
}