body {
    color: #f3ece6;
    background-color: #372c2e;
}

#index-image{
    width: 100%;
    position: relative;
}
h1, h2, h3 {
    font-family: cursive;
    color:#f3ece6;
    font-weight: semibold;
    padding: 3rem 0;
    letter-spacing: 0.15rem;
}

hr{
    border-color:#f3ece6;
}

.row-content {
    padding: 50px 0;
    min-height: 200px;
}

.navbar {
    background-color:rgb(55, 44, 46);
}

.navbar-nav > li{
    margin-right:3rem;
}

.nav-item{
    text-align: right;
}

.nav-item.active{
    border-bottom: 2px solid orange;
}

.navbar-toggler{
    padding: 2rem;
    border: 0;
}

footer{
    background-color: #f3ece6;
    color:black;
    font-weight: 300;
    letter-spacing: 0.04rem;
}

.carousel-caption {
    position: absolute;
    top: 2rem;
    bottom: auto;
    background-color: #493029aa;
}

/* .carousel-indicators {
    color: #372c2e7c;
} */

#contactForm {
    padding: 20px 0;
}

#contact-submit{
    background-color: orange;
    border-color: orange;
    color: rgb(27, 27, 27);
}

#contact-submit:hover{
    background-color: rgb(191, 124, 0);
    border-color: rgb(191, 124, 0);
    color: rgb(27, 27, 27);
}

#contact-submit:click{
    background-color: rgb(191, 124, 0);
    border-color: rgb(191, 124, 0);
    color: rgb(27, 27, 27);
}


